.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

@media screen and (max-width: 991px) {
  .div-block-8 {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .body {
    background-color: #ef4b4b;
  }
  .div-block {
    text-align: center;
  }
  .image {
    margin-top: 245px;
  }
  .image-2 {
    margin-top: 220px;
  }
  .button {
    margin-top: 20px;
    margin-right: 12px;
    margin-left: 0px;
    padding-right: 33px;
    padding-left: 33px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }
  .column {
    padding-left: 20px;
  }
  .button-copy {
    margin-top: 20px;
    margin-left: -7px;
    padding-right: 33px;
    padding-left: 33px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 20px;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    color: #1b202b;
    font-size: 15px;
    text-align: left;
  }
  .column-2 {
    padding-right: 0px;
    padding-left: 20px;
    text-align: right;
  }
  .image-copy {
    margin-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-2-copy {
    margin-top: 70px;
  }
  .body-copy {
    background-color: #6384b3;
  }
  .body-copy {
    background-color: #453c38;
  }
  .image-3 {
    margin: 12px;
    padding-top: 0px;
  }
  .text-field {
    margin-top: 10px;
    margin-bottom: 0px;
    border-style: none none solid;
    border-width: 1px 1px 2px;
    border-color: #000 #000 #f3e1ca;
    background-color: #fefcf9;
    font-family: 'Roboto Slab', sans-serif;
    color: #3d486b;
    font-size: 17px;
  }
  .field-label {
    background-color: #fefcf9;
    color: #1b202b;
  }
  .form-block {
    margin-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .field-label-2 {
    font-family: Roboto, sans-serif;
    color: #a0a0a0;
    font-weight: 400;
  }
  .submit-button {
    width: 100%;
    height: 50px;
    margin-top: 150px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #453c38;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
  .text-block {
    margin-top: 15px;
    font-family: Roboto, sans-serif;
    color: #453c38;
  }
  .submit-button-copy {
    width: 100%;
    margin-top: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #453c38;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
  }
  .text-block-2 {
    margin-top: 15px;
    font-family: Roboto, sans-serif;
    color: #453c38;
    text-align: center;
  }
  .list {
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .text-block-3 {
    margin-top: 20px;
    font-family: 'Roboto Slab', sans-serif;
    color: #1b202b;
  }
  .text-block-4 {
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    color: #a0a0a0;
  }
  .image-4 {
    text-align: right;
  }
  .div-block-2 {
    text-align: right;
  }
  .list-item {
    margin-bottom: 10px;
    border-style: none none solid;
    border-width: 1px 1px 0.1px;
    border-color: #000 #000 #c9d0e9;
  }
  .div-block-3 {
    text-align: center;
  }
  .link-block {
    text-align: left;
  }
  .columns {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 100%;
    max-width: 100%;
    margin-top: 130px;
    margin-bottom: 10px;
  }
  .image-5 {
    margin-top: -30px;
  }
  .div-block-4 {
    text-align: center;
  }
  .div-block-5 {
    text-align: center;
  }
  .image-6 {
    margin: 12px;
  }
  .div-block-6 {
    margin: 0px;
    text-align: center;
  }
  .image-7 {
    margin-top: 5px;
  }
  .text-block-5 {
    font-family: 'Roboto Slab', sans-serif;
    color: #1b202b;
    font-size: 15px;
  }
  .paragraph {
    padding: 10px 20px 20px;
    font-family: Roboto, sans-serif;
    color: #a0a0a0;
    font-size: 13px;
  }
  .columns-2 {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-block-6 {
    font-family: 'Roboto Slab', sans-serif;
    color: #a0a0a0;
    font-size: 12px;
    text-align: right;
  }
  .image-8 {
    margin: 10px 12px 12px;
  }
  .text-block-2-copy {
    margin-top: 15px;
    font-family: Roboto, sans-serif;
    color: #453c38;
    text-align: center;
  }
  .text-block-7 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: Roboto, sans-serif;
    color: #453c38;
  }
  .image-9 {
    margin-top: -6px;
  }
  .submit-button-copy-2 {
    width: 100%;
    margin-top: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #453c38;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
  }
  .text-block-8 {
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Roboto Slab', sans-serif;
    color: #1b202b;
    font-size: 19px;
    line-height: 25px;
  }
  .text-block-9 {
    margin-top: 19px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: Roboto, sans-serif;
    color: #a0a0a0;
    font-size: 15px;
  }
  .tabs-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .tab-link-tab-1 {
    width: 40%;
  }
  .tab-link-tab-1.w--current {
    margin-top: 15px;
    border-radius: 3px;
    background-color: #453c38;
    text-align: center;
  }
  .tab-link-tab-2 {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 24px;
    border-bottom: 2px solid #f3e1ca;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #fefcf9;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
  }
  .tab-link-tab-2.w--current {
    width: 100%;
    border-bottom-style: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #453c38;
    color: #fff;
  }
  .tab-link-tab-3 {
    width: 40%;
    margin-top: 15px;
  }
  .text-block-10 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-5 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-block-12 {
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    color: #453c38;
    text-align: center;
  }
  .submit-button-copy-3 {
    position: static;
    overflow: visible;
    width: 100%;
    margin: -46px 0px 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #453c38;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
  .div-block-7 {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding-right: 30px;
    padding-left: 30px;
  }
  .image-6-copy {
    margin: 18px 12px 12px;
  }
  .form-block-2 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .text-field-2 {
    line-height: 60px;
  }
  .textarea {
    height: 100px;
    padding-bottom: 90px;
    border-style: none none solid;
    border-width: 1px 1px 2px;
    border-color: #000 #000 #f3e1ca;
    background-color: #fefcf9;
    font-family: Roboto, sans-serif;
    color: #1b202b;
  }
  .textarea::-webkit-input-placeholder {
    font-family: Roboto, sans-serif;
    color: #1b202b;
  }
  .textarea:-ms-input-placeholder {
    font-family: Roboto, sans-serif;
    color: #1b202b;
  }
  .textarea::-ms-input-placeholder {
    font-family: Roboto, sans-serif;
    color: #1b202b;
  }
  .textarea::placeholder {
    font-family: Roboto, sans-serif;
    color: #1b202b;
  }
  .form {
    margin-top: 20px;
  }
  .image-10 {
    margin-top: 30px;
  }
  .div-block-8 {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .map {
    position: static;
    overflow: visible;
    float: none;
    clear: none;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .div-block-9 {
    position: fixed;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 15px;
    padding: 20px 10px 0px;
    float: none;
    clear: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 3px -3px #000;
    opacity: 0.99;
  }
  .text-block-13 {
    font-family: Roboto, sans-serif;
    color: #453c38;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .form-block-3 {
    margin-right: 30px;
    margin-bottom: 0px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 1px 3px -2px #000;
    opacity: 0.99;
  }
  .submit-button-copy-3-copy {
    position: static;
    overflow: visible;
    width: 100%;
    margin: 0px 0px 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #453c38;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
  .radio-button-label {
    font-family: Roboto, sans-serif;
    color: #1b202b;
    font-size: 14px;
    font-weight: 400;
  }
  .radio-button-field {
    margin-top: 20px;
  }
  .radio-button {
    width: 14px;
    height: 14px;
    border: 1px solid #3d486b;
    background-color: #fff;
    font-size: 15px;
  }
  .radio-button.w--redirected-checked {
    border-style: solid;
    border-width: 2px;
    border-color: #e2e2e2;
    background-color: #1b202b;
  }
  .submit-button-copy-3-copy {
    position: static;
    overflow: visible;
    width: 100%;
    margin: 130px 0px 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #453c38;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
  .list-2 {
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .text-block-14 {
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 13px;
    float: left;
    clear: none;
    font-family: Roboto, sans-serif;
    color: #1b202b;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
  }
  .image-11 {
    float: left;
    border-radius: 5px;
  }
  .text-block-15 {
    margin-top: 35px;
    margin-left: -99px;
    float: left;
    clear: none;
    font-family: Roboto, sans-serif;
    color: #a0a0a0;
  }
  .list-item-2 {
    margin-top: 35px;
  }
  .div-block-10 {
    margin-top: 0px;
    text-align: right;
  }
  .image-12 {
    margin-top: 15px;
  }
  .div-block-11 {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding-right: 30px;
    padding-left: 30px;
  }
  .submit-button-copy-3-copy-copy {
    position: static;
    overflow: visible;
    width: 100%;
    margin: 220px 0px 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #453c38;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
  .submit-button-copy-3-copy-copy-copy {
    position: static;
    overflow: visible;
    width: 100%;
    margin: 220px 0px 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #42cd3f;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
  }
  .image-13 {
    margin-top: 230px;
  }
  .columns-3 {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .columns-4 {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .body-copy-copy {
    background-color: #6384b3;
  }
  .columns-5 {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .div-block-12 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block-13 {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-14 {
    margin-top: -3px;
  }
  .image-15 {
    margin-top: -19px;
    float: right;
    clear: none;
  }
  .text-block-16 {
    font-family: 'Roboto Slab', sans-serif;
    color: #1b202b;
    text-align: center;
  }
  .image-16 {
    margin-top: 20px;
    text-align: center;
  }
  .div-block-14 {
    text-align: center;
  }
  .div-block-15 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .columns-6 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-16 {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding-right: 30px;
    padding-left: 30px;
  }
  .div-block-17 {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding-right: 30px;
    padding-left: 30px;
  }
  .div-block-18 {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding-right: 30px;
    padding-left: 30px;
  }
  .div-block-19 {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding-right: 30px;
    padding-left: 30px;
  }
  .submit-button-copy-3-copy-copy {
    position: static;
    overflow: visible;
    width: 100%;
    margin: 0px 0px 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #453c38;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
  .div-block-20 {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    opacity: 0.99;
  }
  .text-field-copy {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0px;
    border-style: none none solid;
    border-width: 1px 1px 2px;
    border-color: #000 #000 #f3e1ca;
    background-color: #fefcf9;
    font-family: 'Roboto Slab', sans-serif;
    color: #3d486b;
    font-size: 17px;
  }
  .image-17 {
    margin-top: -17px;
    float: right;
    text-align: center;
  }
}

